---
interface Props {
  title: string;
  name: string;
  street?: string;
  location?: string;
  tel1?: string;
  fax?: string;
  tel2?: string;
  email?: string;
}

const { title, name, street, location, tel1, fax, tel2, email } = Astro.props;
---

<div class="m-5 p-5 rounded-md bg-gradient-to-r from-blue-800 to-blue-500 c">
  <div class="mb-3 text-2xl font-bold">
    {title}
  </div>
  <p>
    {name}<br />{street}<br />{location}<br /><br />
    {tel1}<br />{fax}<br />{tel2}<br />{email}
  </p>
</div>

<style>
  .c {
    color: white;
    background-color: var(--primary);
    filter: drop-shadow(-3px 2px 6px #99979e);
  }
</style>
